* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
}
header {
  width: 100%;
  background-color: #50bbdb;
}
header h1 {
  font-family: "微软雅黑";
  color: #fff;
  font-size: 0.28rem;
  text-align: center;
  line-height: 0.88rem;
  position: absolute;
  left: 2.5rem;
  top: 0.15rem;
}
header img {
  width: 0.28rem;
  height: 0.54rem;
}
.select,
section {
  background-color: #f1f1f1;
}
.select {
  border-bottom: 0.14rem solid #f1f1f1;
  position: relative;
}
.sort1,
.sort2 {
  width: 50%;
  float: left;
  background-color: #fff;
  line-height: 0.74rem;
  color: #333;
  font-family: "微软雅黑";
  text-align: center;
}
.sot1 {
  border-right: 1px solid #d2d2d2;
}
section .box1 {
  width: 100%;
  height: 2rem;
}
section .box1 article {
  width: 100%;
  height: 1.86rem;
  background-color: #fff;
}
article .order ul li {
  width: 19%;
  list-style: none;
  color: #cfcfcf;
  height: 0.4rem;
  float: left;
  font-family: "微软雅黑";
  font-size: 0.2rem;
  border-bottom: 1px dotted #bebebe;
}
article .order ul .three {
  border-left: 1px solid #cfcfcf;
}
article h3 {
  font-size: 0.26rem;
  font-family: "微软雅黑";
  margin: 0.1rem 0rem;
  line-height: 0.5rem;
}
article p {
  font-family: "微软雅黑";
  color: #666;
  font-size: 0.3rem;
  border-bottom: 1px solid #b5b5b5;
}
article p .dollar {
  color: #f08359;
  margin-left: 0.2rem;
}
article p .yuan {
  font-size: 0.2rem;
}
article .out {
  float: left;
  color: #f08359;
  font-size: 0.3rem;
  font-family: "微软雅黑";
}
article select {
  float: right;
  margin-top: 0.08rem;
  font-family: "微软雅黑";
  margin-right: 0.2rem;
}
article button {
  float: right;
  border: none;
  background-color: #fff;
  margin-right: 0.2rem;
  font-family: "微软雅黑";
  border: 1px solid #bfbfbf;
  margin-top: 0.08rem;
  width: 0.8rem;
  height: 0.4rem;
}
